/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.todo-form {
    width: 25%;
}

li {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.gray-back {
    background-color: lightgrey;
}



.flash-success {
    margin: 0 auto 0 auto;
    width: 25%;
    background-color: green;
    border: 1px solid darkgreen;
    color: white;
    align-content: flex-end;
}

.flash-text {
    margin: 0 0 0 20%;
    display: inline-block;

}

ul {
    padding: 0;
}

.x {
    color: black;
    display: inline-block;
    margin-left: 20%;
}

a:link {
    text-decoration: none;
}

button.x {
    border: 0;
    background: none;
}